@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

section {
    height: 516px;
    width: 562px;
    background-color: blue;
    margin: 0 auto;
    padding: 0;

}

.time {

    color: white;
    font-size: 150px;
    text-align: center;
    font-family: "Raleway", "sans-serif";


}

.bar {
    background-color: red;
    width: 22em;
    height: 0.5em;
    border: 0 none;
}
