@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

.container {
    height: 516px;
    width: 562px;
    background-color: blue;
    color: black;
    font-size: 90px;
    text-align: center;
    padding: 50px 50px;
    font-family: "Raleway", "sans-serif";
}
